<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">E-Commernce Dashboard</h1>

    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <div class="searchelement">
                    <mat-form-field appearance="outline" class="search-field">
                        <mat-icon matPrefix *ngIf="!searchValue">search</mat-icon>
                        <input matInput placeholder="Search..." [(ngModel)]="searchValue" (input)="filterProducts(searchValue)" />
                        <button mat-icon-button *ngIf="searchValue" matSuffix aria-label="Clear" (click)="clearSearch()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="element">
                    <div><a routerLink="/dashboard" >Dashboard</a></div>
                    <div class=""><a routerLink="/transaction" >Transactions</a></div>
                    <div class=""><a routerLink="/charts" >Charts</a></div>
                </div>
                <div class=""><mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field></div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>